/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .owl-carousel.owl-posts .post-large .post-title {
    font-size: 14px;
    line-height: 18px; }
  .article .btn-prev, .article .btn-next{
    height: 70px;
    padding: 25px 24px;
    font-size: 18px;
  }
  .article .btn-prev:before, .article .btn-next:before{
    border-style: solid;
    border-width: 33px 0 33px 15px;
    border-color: transparent transparent transparent #fff;
  }
  }
@media only screen and (max-width: 360px) {
    header .logo{
    min-width: 112px;
  }
}
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  body {
    font-size: 1.8rem; }
  .h1, h1 {
    font-size: 24px; }
  .h2, h2 {
    font-size: 20px; }
  p {
    font-size: 18px;
    line-height: 27px;
    margin: 0 0 23.52941px; }
  ol li, ul li{
    font-size: 18px;
    line-height: 27px;
  }
  header .logo {
    min-width: 150px; }
  body.show-search #searchForm {
    height: 63px; }
  .opener-search {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  .navbar-collapse {
    margin-left: auto;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-right: 20px; }
  .navbar .navbar-nav .nav-item {
    margin: 0 20px !important; }
    .navbar .navbar-nav .nav-item .nav-link {
      font-size: 15px; }
  .top-news .top-news-holder {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .post-item .post-title {
    margin-bottom: 20px;
    -webkit-box-flex: 24px;
    -ms-flex: 24px;
    flex: 24px; }
  .post-item.post-large {
    height: 300px;
    padding: 20px; }
  .post-item.post-medium {
    height: 150px;
    padding: 30px;
    float: none;
    width: 100%; }
  .post-entry .image {
    height: 210px; }
  .footer-terms li {
    display: inline-block;
    margin: 0 20px; }
  #searchForm .navbar-form .form-group input.form-control {
    font-size: 26px;
    line-height: 31px; }
  .post-paging {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .btn-prev, .btn-next {
    height: 70px;
    width: auto;
    font-size: 20px;
    line-height: 23px;
    padding: 24px 78px; }
    .btn-prev:before, .btn-next:before {
      border-width: 31px 0 31px 10px;
      top: 4px;
      bottom: 4px; }
  .btn-prev:before {
    border-width: 31px 10px 31px 0; }
  .navbar-toggler {
    display: none; }
  .navbar .navbar-wrap-nav {
    display: block;
    position: static;
    margin-left: auto;
    margin-right: 20px;
    height: auto;
    visibility: visible; }
    .navbar .navbar-wrap-nav ul.navbar-nav {
      list-style-type: none;
      text-align: right; }
      .navbar .navbar-wrap-nav ul.navbar-nav li {
        display: inline-block; }
  .news-list .grid .post {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .owl-carousel.owl-posts .post-large {
    padding: 20px 33px; }

  .btn-show {
    display: inline!important; }

  .btn-prev:before {
    left: auto;
    right: -1px;
    border-width: 31px 10px 31px 0;
    border-color: transparent #fff transparent transparent;
  }
  .btn-next:before {
      border-width: 31px 0 31px 10px!important;
      top: 4px!important;
      bottom: 4px!important;
      left: -1px;
      border-color: transparent transparent transparent #fff;
  }
.next-page-btn{
  display: none;
  }
  header .navbar-toggler{
    margin-left: auto;
}
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .h1, h1 {
    font-size: 44px; }
  .h2, h2 {
    font-size: 36px; }
  main {
    padding: 40px 0; }
  header .logo {
    min-width: 220px; }
  .top-news-holder .one-news {
    width: 60%; }
  .top-news-holder .two-news {
    width: 40%; }
  .post-item .post-title {
    font-size: 44px; }
  .post-item.post-large {
    height: 450px; }
  .post-item.post-medium {
    height: 225px;
    padding: 30px;
    float: none;
    width: 100%; }
    .post-item.post-medium .post-title {
      font-size: 24px; }
  a.copyright {
    white-space: nowrap;
    color: #ccc;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px; }
  .footer-terms li a {
    font-size: 16px;
    line-height: 16px; }
  #searchForm .navbar-form .form-group input.form-control {
    font-size: 30px;
    line-height: 34px; }
  .title-section {
    margin-bottom: 15px; }
  .content-block{
    min-width: 792px;
  }
  .twocolums{
    flex-direction: row;
  }
  .ad-side{
    padding: 0 20px;
    text-align: center;
  }
  }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .post-entry .image {
    height: 263px; } }
