{{ $baseurl := .Site.BaseURL }}
{{ partial "header.html" . }}
	
<main class="main">
	<div class="container">
				<div class="content-block">
					<article class="article">
						<div class="title-section">
							<h1>{{ .Title }}</h1>
						
							{{ partial "tag.html" . }}

						</div>
						<div class="post-content">
							{{ .Content }}
						</div>

						<div class="post-paging">




						{{if .PrevInSection}}
							<a href="{{.PrevInSection.Permalink}}" title="{{.PrevInSection.Title}}" class="btn d-none d-md-block btn-prev disabled"><i class="fa fa-angle-left"></i>
							{{ if not .Params.hasprevpage }}
								Prev post
							{{ else }}
								Prev page
							{{ end }}

							</a>
						{{end}}
						{{if .NextInSection}}
							<a href="{{.NextInSection.Permalink}}" title="{{.NextInSection.Title}}" class="btn btn-next">
							{{ if not .Params.hasnextpage }}
								Next post
							{{ else }}
								Next page
							{{ end }}
								

								<i class="fa fa-angle-right"></i></a>
						{{end}}

						</div>

					</article>
				</div>
	</div>
	{{ $page_link := .Permalink }}
{{ $tags := .Params.tags }}
	{{ range .Site.Pages }}
{{ $page := . }}
{{ $has_common_tags := intersect $tags .Params.tags | len | lt 0 }}
{{ if and $has_common_tags (ne $page_link $page.Permalink) }}
<li><a href="{{ $page.Permalink }}">{{ $page.Title }}</a></li>
{{ end }}
{{ end }}
</main>
	
{{ partial "footer.html" . }}