{{ $baseurl := .Site.BaseURL }}
{{ partial "header.html" . }}
	
<main class="main">
	<div class="container">
				<div class="content-block">
					<article class="article">
						<div class="title-section">
							<h1>{{ .Title }}</h1>
						
							{{ partial "tag.html" . }}

						</div>
						<div class="post-content">
							{{ .Content }}
						</div>


					



		{{ if .Params.haspagination }}
					

					<div class="post-paging bypage">

						{{ $page_link := .Permalink }}
						{{ $categories := .Params.categories }}
						
						{{ range .Site.Pages }}
							{{ $page := . }}
							{{ $has_common_categories := intersect $categories .Params.categories | len | lt 0 }}
							{{ if and $has_common_categories (or $page_link $page.Permalink) }}

							{{ if (ne $page_link $page.Permalink) }}
								{{ $.Scratch.Set "classname" "category-post" }}
								{{ else }}
								{{ $.Scratch.Set "classname" "active" }}
							{{ end }}

							<a class="btn d-none d-md-block btn-prev disabled category-page {{ $.Scratch.Get "classname" | safeHTML }}"  href="{{ $page.Permalink }}" style="display:none;">{{ $page.Title }} <i class="fa fa-angle-right"></i></a>

							{{ end }}
						{{ end }}
					</div>



						
				{{ else }}
					<div class="post-paging bypost">
						{{if .PrevInSection}}
							<a href="{{.PrevInSection.Permalink}}" title="{{.PrevInSection.Title}}" class="btn d-none d-md-block btn-prev disabled"><i class="fa fa-angle-left"></i>
								Prev post
							</a>
						{{end}}
						{{if .NextInSection}}
							<a href="{{.NextInSection.Permalink}}" title="{{.NextInSection.Title}}" class="btn btn-next">
								Next post
								<i class="fa fa-angle-right"></i></a>
						{{end}}

						</div>
						
		{{ end }}

					</article>
				</div>
	</div>















</main>
	
{{ partial "footer.html" . }}