
    {{ $sp := .Site.Params }}
    {{ if and (isset $sp "Post") (isset $sp.Post "infinite_scroll") }}
        {{ with $sp.Post.infinite_scroll }}
            {{ $.Scratch.Set "infinite_scroll" (eq . true) }}
        {{ end }}
    {{ else }}
        {{ $.Scratch.Set "infinite_scroll" false }}
    {{ end }}

    {{ if eq ($.Scratch.Get "infinite_scroll") false }}
        {{ with $sp.infinite_scroll }}
            {{ $.Scratch.Set "infinite_scroll" (eq . true) }}
        {{ else }}
            {{ $.Scratch.Set "infinite_scroll" false }}
        {{ end }}
    {{ end }}

    {{ $infinite_scroll := $.Scratch.Get "infinite_scroll" }}


{{ $paginator := .Paginate  (where (where .Pages "Section" "post") ".Params.specialpost" "==" false) }}
<div class="news-list">
	<div class="grid {{ if $infinite_scroll }}infinite-scroll{{ end }}">
		{{ if .IsNode }}
            {{ range first 6 ( after 6 ( (.Paginator 6).Pages)) }}
					<div class="post infinite-item">
						<article class="post-entry">
							<a class="image" href="{{ .Permalink }}" style="background:url({{ .Site.BaseURL }}{{ .Params.thumbnailImage }}) no-repeat 50% 50% / cover">
							</a>
							<div class="post-info">
								<h3>
									<a href="{{ .Permalink }}">
				                        {{ .Title }}
				                    </a>
				                </h3>
				            </div>
				        </article>
				    </div>
			{{ end }}
        {{ end }}
	</div>
</div>
{{ $baseUrl := .Site.BaseURL }}
{{ if .IsNode }}
    <ul class="pagination">
        {{ with .Paginator }}
            <li class="{{ if .HasNext }}waves-effect{{ else }}disabled{{ end }}">
                <a class="{{ if .HasNext }}infinite-more-link{{ else }}disabled{{ end }}"  href="{{ if .HasNext }}{{ $baseUrl }}{{ .Next.URL }}{{ else }}#!{{ end }}">
                    <i class="fa fa-angle-right"></i>
                    LOAD MORE
                </a>
            </li>
        {{ end }}
    </ul>
{{ end }}